{%- import "_lib_jinja/vars_debian.jinja" as lib_debian_vars -%}
{% set repo = lib_debian_vars.repo -%}

{%- import "_lib_jinja/dev_common_pkgs.jinja" as lib_dev_common_pkgs -%}
{% set pkgs = lib_dev_common_pkgs.pkgs -%}
